<link rel="stylesheet" href="/style/starter.css">
<div class="container-fluid">
  <div class="row justify-content-around">
    <div class="col-md-5">
      <h2>Change Password</h2>
      <form action="/changepassword" method="post" class="needs-validation" id="register_form" novalidate>
        <div class="form-group">
          <label for="riegisterInputPassword">Old Password</label>
          <input type="password" class="form-control" id="changeOldInputPassword" name="oldpassword" placeholder="Password" maxlength="30" pattern="[a-zA-Z0-9]{5,30}" required>
          <div class="invalid-feedback">
            Provide a valid password.
          </div>
        </div>
        <div class="form-group">
          <label for="riegisterInputPassword">New Password</label>
          <input type="password" class="form-control" id="changeNewInputPassword" name="newpassword" placeholder="Password" maxlength="30" pattern="[a-zA-Z0-9]{5,30}" required>
          <div class="invalid-feedback">
            Password must be from 5 to 30 characters and only contain alphabetical symbols and numbers.
          </div>
        </div>
        <div class="form-group">
          <label for="riegisterInputRePassword">Confirm New password</label>
          <input type="password" class="form-control" id="changeNewInputRePassword" placeholder="Confirm password" maxlength="30">
          <div class="invalid-feedback repassword-feedback">
            Passwords don't match.
          </div>
        </div>
        <div class="login-<%= attempt %>">
           <%= msg %>
        </div>
        <button type="submit" class="btn btn-primary">Change</button>
      </form>
    </div>
  </div>
</div>
<script src="/script/validation.js"></script>
