<link rel="stylesheet" href="/style/starter.css">
<div class="container-fluid">
  <div class="row justify-content-around">
    <div class="col-md-5">
      <h6 style="margin-top: 15px;">Provide your username and we will send a mail to the email addres attached to that username a new randomly generted password you can later change when you are logged in</h6>
      <form action="/forgotpassword" method="post" class="needs-validation" novalidate>
        <div class="form-group">
            <input type="input" class="form-control" id="forgetUsername" name="username" value="<%= username %>" placeholder="Username" maxlength="30" required>
            <div class="invalid-feedback">
              Fill in the username.
            </div>
        </div>
        <div class="login-<%= attempt %>">
           <%= msg %>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
      </form>
    </div>
  </div>
</div>
<script src="/script/validation.js"></script>
